In [45]:
import pandas as pd
from urllib.request import urlopen

In [46]:
from pgmpy.models import BayesianModel

# Giving columns names to raw heart Dataset

In [47]:
names = "age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,RESULT"

In [48]:
names = names.split(",")

In [49]:
names

['age',
 'sex',
 'cp',
 'trestbps',
 'chol',
 'fbs',
 'restecg',
 'thalach',
 'exang',
 'oldpeak',
 'slope',
 'ca',
 'thal',
 'RESULT']

In [50]:
len(names)

14

In [51]:
data = pd.read_csv("heart_1.csv", names = names)

In [57]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,RESULT
0,63,1,1,145,233,1,2,150,0,2.3,3,0,6,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2,7,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,1,110,264,0,0,132,0,1.2,2,0,7,1
299,68,1,4,144,193,1,0,141,0,3.4,2,2,7,2
300,57,1,4,130,131,0,0,115,1,1.2,2,1,7,3
301,57,0,2,130,236,0,2,174,0,0.0,2,1,3,1
302,38,1,3,138,175,0,0,173,0,0.0,1,?,3,0

In [58]:
model = BayesianModel([("age", "sex"), ("sex", "cp"), ("cp", "RESULT")])

In [59]:
model.fit(data)

In [64]:
from pgmpy.inference import VariableElimination
infer = VariableElimination(model)
q = infer.query(variables=["RESULT"], evidence={"age":22})

  0%|          | 0/2 [00:00<?, ?it/s]

Finding Elimination Order: :   0%|          | 0/2 [00:00<?, ?it/s]


  0%|          | 0/2 [00:00<?, ?it/s]


Eliminating: cp:   0%|          | 0/2 [00:00<?, ?it/s]


Eliminating: sex: 100%|██████████| 2/2 [00:00<00:00, 666.29it/s]

In [65]:
print(q)

+-----------+---------------+
| RESULT    |   phi(RESULT) |
+===========+===============+
| RESULT(0) |        0.5387 |
+-----------+---------------+
| RESULT(1) |        0.1824 |
+-----------+---------------+
| RESULT(2) |        0.1196 |
+-----------+---------------+
| RESULT(3) |        0.1161 |
+-----------+---------------+
| RESULT(4) |        0.0433 |
+-----------+---------------+