In [1]:
import numpy as np
import pandas as pd
from sklearn import datasets, linear_model
import matplotlib.pyplot as plt

# Importing InBuilt 2-D diabetes Regression Dataset

In [2]:
dia = pd.read_csv("diabetes.csv")

In [3]:
dia

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
dia_1 = dia.drop("Outcome", axis=1)

In [5]:
dia_1

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [6]:
X = dia_1.drop("BMI", axis=1)

In [7]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,0.627,50
1,1,85,66,29,0,0.351,31
2,8,183,64,0,0,0.672,32
3,1,89,66,23,94,0.167,21
4,0,137,40,35,168,2.288,33
...,...,...,...,...,...,...,...
763,10,101,76,48,180,0.171,63
764,2,122,70,27,0,0.340,27
765,5,121,72,23,112,0.245,30
766,1,126,60,0,0,0.349,47
767,1,93,70,31,0,0.315,23

In [8]:
y = dia_1["BMI"]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)

In [11]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()

In [12]:
clf.fit(X_train, y_train);
y_pred = clf.predict(X_test)
y_pred

array([42.59487382, 33.58435757, 26.04022603, 33.8564343 , 28.2830886 ,
       29.96591714, 37.04774088, 37.5211243 , 33.20920885, 32.41070982,
       37.35495762, 37.06258278, 28.55135234, 30.83781492, 30.17387793,
       32.092305  , 39.41408784, 26.81574469, 35.39588265, 31.49761801,
       36.70762918, 29.91962747, 27.15602382, 31.0004636 , 29.7605231 ,
       34.50384528, 28.63836414, 38.64708645, 32.12666609, 28.00121239,
       33.91186181, 35.81119349, 31.99986504, 35.43856264, 29.73545019,
       30.35855319, 35.96250827, 33.22740527, 35.26792462, 35.76270237,
       31.80138047, 28.14107366, 30.33017353, 38.20884751, 38.02049673,
       32.77122468, 33.08780524, 33.49972225, 36.12514755, 29.96025561,
       29.02550583, 31.51647038, 36.849961  , 38.25917744, 32.1820072 ,
       24.48300707, 31.8644063 , 30.20078221, 29.87012397, 23.71568246,
       40.51094693, 33.82665822, 28.89152592, 25.86968228, 32.29515999,
       33.90608618, 31.81855891, 29.02330222, 26.56382897, 31.00336816,
       27.66865936, 23.70144792, 32.59257332, 34.6880485 , 31.81490699,
       30.44176851, 31.88957061, 36.22985249, 31.16012024, 34.62280235,
       27.60496968, 38.30208792, 33.73106172, 30.3809024 , 32.52789973,
       27.80025051, 28.92312195, 31.47280373, 35.74102611, 31.9993931 ,
       35.44404413, 30.12551959, 28.96279916, 30.52045491, 38.93163507,
       33.19795503, 33.96113509, 37.17640658, 36.78178404, 28.26854121,
       33.94511335, 29.33173444, 29.46948208, 29.44751254, 37.4543442 ,
       28.77890876, 34.94122039, 36.49825857, 29.94482751, 32.02162291,
       31.59991476, 33.96857047, 29.16321881, 39.35975103, 36.61172877,
       31.34984443, 29.09502034, 33.16673396, 32.67639806, 35.64329261,
       35.78837492, 36.22725327, 34.5230033 , 31.56844779, 34.05538123,
       26.40022927, 32.02160206, 34.32716606, 28.14752169, 32.99038269,
       35.30142759, 23.37645643, 30.04472478, 38.38812456, 31.4124225 ,
       34.93035452, 29.98444989, 33.35650734, 25.77222462, 27.86860429,
       28.77508989, 35.2502298 , 27.14682852, 25.9978765 , 27.76489978,
       29.09582074, 30.48985688, 31.50902657, 32.30116904, 36.4756417 ,
       29.87714328, 31.50654293, 30.92536269, 34.01537186])

In [13]:
from sklearn.metrics import mean_squared_error

In [14]:
mean_squared_error(y_test, y_pred)

49.41151592580262